dist/index.html
<!DOCTYPE html><html lang="ja" prefix="og: https://ogp.me/ns#"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=11"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Mariel Basbas</title><meta description="My name is Mariel. I am a passionate front-end engineer. You can contact me anytime."><meta property="og:title" content="Mariel Basbas"><meta propert="og:url" content="http://mvbasbas.com/"><meta propert="og:description" content="My name is Mariel. I am a passionate front-end engineer. You can contact me anytime."><meta property="og:image" content="/src/img/ogp.jpg"><link rel="icon" type="image/x-icon" href="/src/img/favicon.ico"><link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"><link href="/./css/style.css" rel="stylesheet"></head><body><div class="cursor"><div class="cursor--inner"></div></div><nav class="navigation"><button class="navigation__menu"><a class="navigation__line white-bg"></a><a class="navigation__line white-bg"></a><a class="navigation__line white-bg"></a></button><div class="navigation__content white-bg"><div class="navigation__item"><a class="navigation__link" href="#about">About me</a></div><div class="navigation__item"><a class="navigation__link" href="#skills">Skills</a></div><div class="navigation__item"><a class="navigation__link" href="#projects">Projects</a></div></div></nav><div class="banner black-bg white"><span class="banner__position">Front-end Engineer</span><div class="banner__eyes"><img class="banner__eyes-image" src="/src/img/cat-eyes.svg" alt="Cat Eyes"><img class="banner__eyes-image" src="/src/img/cat-eyes.svg" alt="Cat Eyes"></div><div class="banner__name"><span>Mariel<br>Basbas</span></div><a class="banner__easter" href="/src/img/tyrandori.jpg" target="_blank">my cats (=ↀωↀ=)✧</a></div><section class="section" id="about"><div class="section__main-title"><div class="section__left"><div class="section__text-container"><div class="section__behind-text"><span>About Me About Me </span><span>About Me About Me </span></div><span class="section__title-text">About Me</span></div></div><div class="section__right"><img class="section__image" src="/src/img/marielbasbas.png" alt="Mariel Basbas"></div></div><div class="section__content"><div class="section__text"><p>Hello, you can call me Mariel! I currently work as a Front-end Engineer in a Japan based company. I code frontend web designs from scratch. <br>I always have a goal in mind when creating one.</p><ol><li>It should be <b>responsive </b>in all devices.</li><li>Website is <b>optimized </b>for faster loading times.</li><li> <b>SEO </b>is applied.</li><li>It should <b>follow the design </b>created by UX/UI designers.</li><li>Code is <b>readable </b>so other engineers can work on it.</li></ol><p>Having a good output where there's less comments from both the client and your coworkers will lessen the time spent in developing.</p><p>You can check my company portfolio here -> <a class="section__link" href="https://up-ward.info/members/member-basbas/" target="_blank">https://up-ward.info/members/member-basbas/</a></p></div></div></section><section class="section" id="skills"><div class="section__content"><div class="skills"><ul class="skills__list"><li class="skills__item">HTML/CSS/Javascript</li><li class="skills__item">PUG</li><li class="skills__item">SASS</li><li class="skills__item">Wordpress PHP Development</li></ul><ul class="skills__list"><li class="skills__item">Adobe Photoshop</li><li class="skills__item">BEM</li><li class="skills__item">Stylelint/Eslint</li><li class="skills__item">Webpack Configuration</li></ul></div></div><div class="section__main-title"><div class="section__left"><div class="section__text-container"><div class="section__behind-text"><span>Skills Skills Skills </span><span>Skills Skills Skills </span></div><span class="section__title-text">Skills</span></div></div><div class="section__right"><img class="section__image" src="/src/img/skills.png" alt="Skills"></div></div></section><section class="section section--no-overflow" id="projects"><div class="carousel__title-container"><img class="carousel__title" src="/src/img/projects-title.png" alt="PROJECTS"></div><div class="carousel"><div class="carousel__cell"><div class="carousel__image-container"><img class="carousel__image pc" src="/src/img/ishinjuku.jpg" alt="Ishinjuku"><img class="carousel__image sp" data-flickity-lazyload="/src/img/ishinjuku-sp.jpg" alt="Ishinjuku"></div><span class="carousel__text">My first project</span></div><div class="carousel__cell"><div class="carousel__image-container"><img class="carousel__image pc" src="/src/img/castellblanc-cava.jpg" alt="Castellblanc Cava"><img class="carousel__image sp" data-flickity-lazyload="/src/img/castellblanc-cava-sp.jpg" alt="Castellblanc Cava"></div><span class="carousel__text">My first project where I worked with people</span></div><div class="carousel__cell"><div class="carousel__image-container"><img class="carousel__image pc" src="/src/img/sunalab.JPG" alt="Suna-Lab"><img class="carousel__image sp" data-flickity-lazyload="/src/img/sunalab-sp.JPG" alt="Suna-Lab"></div><span class="carousel__text">My latest published project</span></div></div></section><div class="floating"><a><img class="floating__top" src="/src/img/top.png" alt="Back top"></a><div class="floating__contact"><button class="floating__button"></button><a class="floating__item" href="https://gitlab.com/Mariri" target="_blank"><img class="floating__icon" src="/src/img/gitlab.png" alt="Gitlab"></a><a class="floating__item" href="mailto:mvbasbas@gmail.com"><img class="floating__icon" src="/src/img/gmail.png" alt="Gmail"></a><a class="floating__item" href="tel:09216031648"><img class="floating__icon" src="/src/img/call-icon.png" alt="Call Icon"></a></div></div><footer class="footer"><div class="footer__text"><span>Thank you for visiting! You can check the source code <a class="footer__link" href="https://gitlab.com/Mariri/personal-profile" target="_blank">here</a>.</span></div></footer><script src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script><script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script><script type="text/javascript" src="/main.js"></script></body></html>

src/index.pug
extends includes/layout.pug
block content
  .banner.black-bg.white
    span.banner__position Front-end Engineer
    .banner__eyes
      img.banner__eyes-image(src="/src/img/cat-eyes.svg", alt="Cat Eyes")
      img.banner__eyes-image(src="/src/img/cat-eyes.svg", alt="Cat Eyes")
    .banner__name
      span Mariel#[br]Basbas
    a.banner__easter(href="/src/img/tyrandori.jpg", target="_blank") my cats (=ↀωↀ=)✧
  section#about.section
    .section__main-title
      .section__left
        .section__text-container
          .section__behind-text
            span About Me About Me 
            span About Me About Me 
          span.section__title-text About Me
      .section__right
        img.section__image(src="/src/img/marielbasbas.png", alt="Mariel Basbas")
    .section__content
      .section__text
        p Hello, you can call me Mariel! I currently work as a Front-end Engineer in a Japan based company. I code frontend web designs from scratch. #[br]I always have a goal in mind when creating one.
        ol
          li It should be 
            b responsive 
            | in all devices.
          li Website is 
            b optimized 
            | for faster loading times.
          li 
            b SEO 
            | is applied.
          li It should 
            b follow the design 
            | created by UX/UI designers.
          li Code is 
            b readable 
            | so other engineers can work on it.
        p Having a good output where there's less comments from both the client and your coworkers will lessen the time spent in developing.
        p You can check my company portfolio here -> 
          a.section__link(href="https://up-ward.info/members/member-basbas/", target="_blank") https://up-ward.info/members/member-basbas/
  section#skills.section
    .section__content
      .skills
        ul.skills__list
          li.skills__item HTML/CSS/Javascript
          li.skills__item PUG
          li.skills__item SASS
          li.skills__item Wordpress PHP Development
        ul.skills__list
          li.skills__item Adobe Photoshop
          li.skills__item BEM
          li.skills__item Stylelint/Eslint
          li.skills__item Webpack Configuration
    .section__main-title
      .section__left
        .section__text-container
          .section__behind-text
            span Skills Skills Skills 
            span Skills Skills Skills 
          span.section__title-text Skills
      .section__right
        img.section__image(src="/src/img/skills.png", alt="Skills")
  section#projects.section.section--no-overflow
    .carousel__title-container
      img.carousel__title(src="/src/img/projects-title.png", alt="PROJECTS")
    .carousel
      .carousel__cell
        .carousel__image-container
          img.carousel__image.pc(src="/src/img/ishinjuku.jpg", alt="Ishinjuku")
          img.carousel__image.sp(data-flickity-lazyload="/src/img/ishinjuku-sp.jpg", alt="Ishinjuku")
        span.carousel__text My first project
      .carousel__cell
        .carousel__image-container
          img.carousel__image.pc(src="/src/img/castellblanc-cava.jpg", alt="Castellblanc Cava")
          img.carousel__image.sp(data-flickity-lazyload="/src/img/castellblanc-cava-sp.jpg", alt="Castellblanc Cava")
        span.carousel__text My first project where I worked with people
      .carousel__cell
        .carousel__image-container
          img.carousel__image.pc(src="/src/img/sunalab.JPG", alt="Suna-Lab")
          img.carousel__image.sp(data-flickity-lazyload="/src/img/sunalab-sp.JPG", alt="Suna-Lab")
        span.carousel__text My latest published project
  .floating
    a
      img.floating__top(src="/src/img/top.png", alt="Back top")
    .floating__contact
      button.floating__button
      a.floating__item(href="https://gitlab.com/Mariri", target="_blank")
        img.floating__icon(src="/src/img/gitlab.png", alt="Gitlab")
      a.floating__item(href="mailto:mvbasbas@gmail.com")
        img.floating__icon(src="/src/img/gmail.png", alt="Gmail")
      a.floating__item(href="tel:09216031648")
        img.floating__icon(src="/src/img/call-icon.png", alt="Call Icon")
  footer.footer
    .footer__text
      span Thank you for visiting! You can check the source code 
        a.footer__link(href="https://gitlab.com/Mariri/personal-profile", target="_blank") here
        | .
